<div class="content-page-holder reset-password">
  <div class="container login" style="max-width: 960px">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),html: { method: :put }) do |f| %>
      <h1>Change your password?</h1>
      <div class="form-holder" style="margin-bottom: -25px">
        <%= f.hidden_field :reset_password_token %>
        <div class="form-rows">
          <% if @minimum_password_length %>
            <em style="color: #848484">(<%= @minimum_password_length %> characters minimum)</em><br /><br />
          <% end %>
          <%= f.input :password,as: :password, autofocus: true, autocomplete: "new-password" %>
        </div>
        <div class="form-rows">
          <%= f.input :password_confirmation,as: :password, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="submit-row">
        <%=f.submit value:"Change my password",class:"submit-btn" %>
      </div>
      <div class="links-row">
        <%= render "devise/shared/links" %>
      </div>
    <%end %>
  </div>
</div>
