<div class="body-content container" style="max-width: 967px">
  <% if @products.present? %>
    <div class="tables-holder row  align-items-center justify-content-center product-search-listing">
      <div class="table-responsive-sm col-md-12 p-0">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"><%=sort_link(@q, :name, "Product Name") %></th>
            <th scope="col"><%=sort_link(@q, :model_number, "Model Number") %></th>
            <th scope="col"><%=sort_link(@q, :product_company_name, "Company Name") %></th>
            <th scope="col"><%=sort_link(@q, :id, "CE files Record Number") %></th>

          </tr>
          </thead>
          <tbody>
          <%@products.each do |p| %>
            <tr>
              <td><%=link_to p.name,product_path(p.id) %></td>
              <td><%=p.model_number %></td>
              <td><%=p.company.name.titleize %></td>
              <td><%= p.id %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%=paginate @products %>
      </div>
    </div>
  <%else %>
  <div class="row">
  <div class="col-md-12 mx-auto mt-4">

      <%if request.query_string.present? %>
        <div class="col-md-6 pl-0" >
          <p class=" mb-2" style="color: #848484">Your search has no results.</p>
          <%=link_to "Back", "#" , class:'submit-btn mt-1',onClick:'history.go(-1);return false;' %>
        </div>
      <%end %>

</div>
</div>
  <%end %>
</div>
