<div class="content-page-holder">
  <div class="container subscription-container">
    <div class="row">

      <%@plans.each do |p|%>
        <div class="col-xs-12 col-md-6 plan-box">
          <div class="card plans-card panel-<%=p[:nickname]=='Silver'? "success" : "primary"%>">
            <div class="card-header plans-card-header <%=p[:nickname]=='Silver'? "bg-plans-success" : "bg-plans-primary"%>">
              <h3 class="panel-title">
                <%=p[:nickname]%></h3>
            </div>
            <div class="plans-body card-body">
              <div class="the-price">
                <h1>
                  <span class="subscript">$<%=p[:amount]/100%> Per Month</span></h1>
                <small></small>
              </div>
              <ul class=" plans-list list-group list-group-flush">
                <li class="list-group-item"><p>Publish up to <%=p[:nickname]=='Silver'? "10" : "20"%> Products</p></li>

              </ul>
              <div class="action-btns">
                <%if user_signed_in? && current_user.company.plan_id.blank?%>
                  <%=link_to "Subscribe",new_subscription_path(p_id: p[:id]) ,remote:true,class:"btn btn-primary btn-register"%>
                <%elsif user_signed_in? && current_user.company.plan_id.present?%>
                  <%= subscription_link(current_user.company,p)  %>
                  <%# <%=link_to current_user.company.plan_name==p[:nickname]? "Your Current Plan" : (p[:nickname]=='Silver'? "Downgrade":"Upgrade"), current_user.company.plan_name==p[:nickname]? "#": plan_update_subscriptions_path(p_id:p[:id]),class:"btn btn-standard", data: (current_user.company.plan_name != p[:nickname]? {confirm:"Are you sue you want to change your plan?"} : nil) %>
                  <% if current_user.company.plan_name==p[:nickname] %>
                    <%=unsubscribe(p)%>
                  <%end%>

                <%else%>
                  <%=link_to "Signup",new_user_registration_path(plan_id:p[:id]) ,class:"btn btn-primary btn-register"%>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      <%end%>


    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p class="subscription-instructions">Subscriptions are month by month with no minimum term</p>
        <p class="subscription-instructions">Up to 500MB storage for each product page</p>
        <p class="subscription-instructions">Includes QR code creation
        </p>
      </div>

    </div>
  </div>

</div>