<div class="content-page-holder">
  <div class="login">
    <h1 class="login-sec">Login</h1>
    <div class="form-holder">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
        <div class="col col-lg-6 col-sm-12">
        <div class="form-rows">
          <%=f.input :email, label:"Email",input_html:{class:"input-field"} %>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col col-lg-6 col-sm-12">
        <div class="form-rows">
          <%=f.input :password, label:"Password",input_html:{class:"input-field"} %>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col col-lg-6 col-sm-12">
        <div class="form-rows">
          <% if devise_mapping.rememberable? %>
            <%=f.input :remember_me, as: :boolean ,input_html:{class:"custom-control-input checkboxes"},label_html:{class:"custom-control-label"},label:"Remember me" %>
          <%end %>
        </div>
        </div>
        </div>
        <div class="submit-row">
          <%=f.submit value:"Login",class:"submit-btn",data:{disable_with:"Logging In..."} %>
        </div>
      <%end %>
      <div class="links-row right">
        <%= render "devise/shared/links2" %>
      </div>
    </div>
  </div>
</div>


