<%= simple_form_for @q,url: :search_products, html: {class: 'form-search product-search'},method: :get do |f| %>
  <div class="products-row">
  <div class="row">
  <div class="col col-lg-6 col-sm-12">
    <div class="form-rows">
      <%= f.input  :product_category_id_eq,as: :select,collection:ProductCategory.filtered_categories.compact,include_blank:"Product Category ",label:false, input_html:{class:'custom-select mb-3 search-prod-cat'}  %>
    </div>
    </div>
    </div>
    <span class="cat-prod-count"></span>
    <div class="clear"></div>
    <div class="full-search-products">
    <div class="row">
    <div class="col col-lg-6 col-sm-12">
      <div class="form-rows">
        <%= f.input  :name_cont,placeholder:"Product Name",label:false,input_html: {class: 'input-field'} %>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col col-lg-6 col-sm-12">
      <div class="form-rows">
        <%= f.input  :model_number_cont,placeholder:'Model Number',label: false,input_html: {class: 'input-field'} %>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col col-lg-6 col-sm-12">
      <div class="form-rows">
        <%= f.input  :description_cont,placeholder:'Product Description',label:false,input_html: {class: 'input-field'} %>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col col-lg-6 col-sm-12">
      <div class="form-rows">
        <%= f.input  :company_name_cont,placeholder:'Company Name',label:false, input_html: {class: 'input-field'} %>
      </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col col-lg-6 col-sm-12">
    <%= f.submit "Search", class: 'btn btn-primary' %>
    <% #= link_to "Advanced Search" , '#',class:"prod-search" %>
    </div>
    </div>
  </div>
<% end %>
