<div class="content-page-holder">
  <div class="specs-header">
    <div class="container" style="max-width: 988px">
      <h1 style="color: #898989"><%=@product.name %></h1>
      <div style="text-align: right">
        <div class="counter-holder"><span class="counter"><%=@product.id %></span></div>
      </div>
    </div>
  </div>
  <div class="specs-content">
    <div class="container custom-container1" style="max-width: 988px; min-width: 988px;">
      <%if @product.image.present? %>
        <div class="specs-col image" style="margin-bottom: 10px; margin-right: -10px">
          <%= image_tag @product.image.url,class:"p-image",alt:"product-image"  %>
        </div>
      <%end %>
      <div class="specs-col list" style="margin-bottom: 10px; margin-left: -10px">
        <h2>Technical Specifications</h2>
        <div class="specs-row mt-2">
          <span style="font-size: 14px">Company Name</span>
          <span><%=@product.company %></span>
        </div>
        <div class="specs-row mt-2">
          <span style="font-size: 14px">Model Number</span>
          <span><%=@product.model_number %></span>
        </div>
        <div class="specs-row mt-2">
          <span style="font-size: 14px">Product Category</span>
          <span><%=@product.product_category.name.titleize %></span>
        </div>
        <%if @product.notified_body_number.present? %>
          <div class="specs-row mt-2">
            <span style="font-size: 14px"><%=t('activerecord.attributes.product.notified_body_number') %></span>
            <span><%=@product.notified_body_number %></span>
          </div>
        <%end %>
        <% if @product.ce_mark_year.present? %>
          <div class="specs-row mt-2">
            <span style="font-size: 14px"><%= t('activerecord.attributes.product.ce_mark_year') %></span>
            <span><%=@product.ce_mark_year %></span>
          </div>
        <%end %>
        <%if @product.description.present? %>
          <div class="specs-row mt-2">
            <span style="font-size: 14px">Description</span>
            <span><%=@product.description.truncate(470) %></span>
          </div>
        <%end %>
      </div>
      <%if @product.documents.public_docs.any? %>
        <div class="specs-col documentation-section detail" style="margin-bottom: 10px; margin-right: -10px">
          <h2><%=t('.documentation') %></h2>
          <ul class="mt-2">
            <%@product.documents.public_docs.each do |document| %>
              <li style="font-size: 13px; color: #848484" class="<%= @product.documents.public_docs.last==document ? '' : 'mb-3' %>"><%=link_to document.title, document.file.url %></li>
            <%end %>
          </ul>

        </div>
      <%end %>
      <%if @product.all_suppliers.present? %>
        <%@product.all_suppliers.each.with_index do |sup, index| %>
          <div class="specs-col detail" style="margin-bottom: 10px; margin-<%= index%2==0 ? 'left' : 'right' %>: -10px">
            <h2><%=t('.supplier') %></h2>
            <iframe
              width=100%
              height=220
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBFDIdWi-zgkTgFnawN04u6PaDNUtUB0xY
                &q=<%= "#{sup.address.address_line_1}, #{sup.address.city}, #{sup.address.country}"%> ">
            </iframe>
            <div class="specs-row mt-2">
              <span><%=sup.name %></span>
            </div>
            <%if sup.try(:email).present? %>
            <div class="specs-row">
              <span><%=mail_to "#{sup.email}?Subject=Contact Seller","Email Seller" %></span>
            </div>
            <%end %>
            <%if sup.try(:phone).present? %>
              <div class="specs-row">
                <span><%=sup.phone %></span>
              </div>
            <%end %>
            <%if  sup.address.address_line_1.present? %>
              <div class="specs-row">
                <span><%=sup.address.address_line_1 %></span>
              </div>
            <%end %>
            <%if  sup.address.address_line_2.present? %>
              <div class="specs-row">
                <span><%=sup.address.address_line_2 %></span>
              </div>
            <%end %>
            <%if  sup.address.city.present? && sup.address.state.present? %>
              <div class="specs-row">
                <span><%="#{sup.address.city.camelcase}, #{sup.address.state.camelcase}" %></span>
              </div>
            <%end %>
            <div class="specs-row">
              <span><%= sup.address.postal_code.present? ? "#{sup.address.country}, #{sup.address.postal_code}" : sup.address.country %></span>
            </div>
          </div>
        <%end %>
      <%end %>
    </div>
  </div>
</div>