<div class="header-holder dashboard-header accountpage productspage clearfix">
  <div class="menu-btn">
    <div class="navi-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="logo">
    <%=link_to root_path do  %><%=image_tag "logo-white.svg",alt:"logo" %> <%end%>
  </div>
  <div class="navigation-holder">
    <ul class="navigation">
      <li><%=link_to "Home",root_path %></li>
      <li><%= link_to "Subscriptions",plans_path if current_user.admin? %></li>
      <li><%= link_to "Companies",admin_companies_path(hide_archived:true) if current_user.admin? %></li>
      <li><%= link_to "Users",admin_users_path if current_user.admin?%></li>

      <li><%= link_to "Products",admin_products_path %></li>
      <li><%= link_to "Enquiries",admin_enquiries_path if current_user.admin? %></li>

      <li class="current-user"><%="Signed in as #{current_user.display_name}"%> </li>
      <li class="logout-tab"><%=link_to "Logout", destroy_user_session_path, :method => 'delete' %></li>
    </ul>
  </div>
</div>