<div class="header-holder accountpage clearfix">
  <div class="menu-btn">
    <div class="navi-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="logo">
    <%=link_to root_path do  %><%=image_tag "logo.svg",alt:"logo" %> <%end%>
  </div>
  <div class="navigation-holder">
    <ul class="navigation dropdown-element">
      <li><%=link_to "Home",root_path %></li>
      <span>.</span>
      <li><%= link_to "Contact",contact_path %></li>
      <span class="ml-1">.</span>
      <%if user_signed_in?  %>
        <li class="mr-1"><%=link_to "Dashboard",admin_root_path %></li>
        <span>.</span>
      <%end %>
      <%if current_user %>
        <li class="ml-3 mr-3">Signed in as <%= [current_user.given_name, current_user.family_name].join(' ') %></li>
        <span class="mr-3">.</span>
        <li><%=link_to "Logout",destroy_user_session_path, method: :delete,class:"active logout-btn" %></li>
      <%else %>
        <li class="mr-1"><%=link_to "Pricing",plans_path %></li>
        <span class="mr-3">.</span>
        <li><%=link_to "Login" , new_user_session_path ,:class => 'login-btn'%></li>
      <%end %>
    </ul>
  </div>
</div>