<div class="footer-holder">
  <div class="copyrights">
    © Copyright Product Presence. All Rights Reserved.
  </div>
  <ul class="footer-nav">
    <li><%=link_to "Terms and Conditions",terms_path %></li>
    <li><%= link_to "Privacy Policy",privacy_path %></li>
  </ul>
  <ul class="socials">
    <li><%=link_to "https://facebook.com/TheCeFiles",target:"_blank" do%><%=image_tag "facebook.svg",alt:"facebook" %><%end %></li>
    <li><%=link_to "https://twitter.com/TheCeFiles",target:"_blank" do%><%=image_tag "twitter.svg",alt:"facebook" %><%end %></li>
  </ul>
</div>