<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %> - CE files</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <%=favicon_link_tag "/favicon.jpg" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home/home', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main-content">
    <div class="body-content">
      <%= render partial:'layouts/home_header' %>
      <%= yield %>
      <%= render partial:'layouts/home_footer' %>
    </div>



  </div>

  </body>
</html>
